@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "elelaneon";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(16% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(98% 0.018 155.83);
  --color-primary: oklch(90% 0.09 164.15);
  --color-primary-content: oklch(14% 0 0);
  --color-secondary: oklch(75% 0.139 232.66);
  --color-secondary-content: oklch(14% 0 0);
  --color-accent: oklch(54% 0.247 293.01);
  --color-accent-content: oklch(98% 0.018 155.83);
  --color-neutral: oklch(98% 0.018 155.83);
  --color-neutral-content: oklch(14% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(98% 0.018 155.83);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.018 155.83);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.018 155.83);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(98% 0.018 155.83);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --font-sans: 'Inter Variable', sans-serif;
  --font-serif: 'BioRhyme Variable', serif;
  --font-mono: 'JetBrains Mono Variable', monospace;
}